<div class = "middle">
<h1>Register</h1>
<%= bootstrap_form_for(@user, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
<%= f.text_field :first_name, hide_label: true, placeholder: "First Name" %>
<%= f.text_field :last_name, hide_label: true, placeholder: "Last Name" %>
<%= f.email_field :email, hide_label: true, placeholder: "Email" %>
<%= f.password_field :password, hide_label: true, placeholder: "Password" %>
<%= f.file_field :avatar_url, label: "Profile Picture" %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
