<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <meta property="og:url"           content="http://grrrl.herokuapp.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="GRRRL" />
  	<meta property="og:description"   content="Reviews of products and services that girls care about. Written by feminists, for feminists."/>
  	<meta property="og:image"         content="http://a4.files.fashionista.com/image/upload/c_fit,cs_srgb,dpr_1.0,h_1200,q_80,w_1200/MTQwNzI1OTAxMzM4ODc5Nzg3.jpg"/>

    <link rel="stylesheet" type="text/css" href="/assets/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="/assets/jquery.emojipicker.a.css">
  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <%if current_page?('/') && current_user == nil%>
    <nav class="navbar navbar-inverse">
         <div class="container1">
           <div class="navbar-header homenav">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
           </div>
           <div id="navbar" class="homenav navbar-collapse collapse">
             <div class="navbar-form navbar-right">
               <%= bootstrap_form_tag url: '/login' do |f| %>
                 <%= f.email_field :email, hide_label: true, placeholder: "Email" %>
                 <%= f.password_field :password, hide_label: true, placeholder: "Password" %>
                 <%= f.submit "Login" %>
               <% end %>
             </div>
             <a class="register btn btn-info" role="button" href="/users/new">Get Started</a>
           </div><!--/.navbar-collapse -->
         </div>
       </nav>
    <%elsif current_page?('/')%>
    <%elsif current_user%>
    <nav class="navbar navbar-default navbar-fixed-top ">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="grrrl" href="/">Grrrl</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/posts">Posts<span class="sr-only">(current)</span></a></li>
        <li><a href="/conversations">Messages</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      <div class="container">
      <%end%>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <%end %>

  <%=yield %>
  </div>
  </body>
</html>
