<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


  </head>

  <body>
    <%if current_page?('/')%>
    <%elsif current_user%>
      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
          <p id="grrrl"> Grrrl </p>
          <ul class="navbar-right nav nav-tabs">
            <li role="presentation" class="active"><a href="/posts">Board</a></li>
            <li role="presentation"><a href="/conversations">Messages</a></li>
          </ul>
        </div>
      </nav>
    <%end%>
    <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <%end %>
    <%=yield %>
  </div>
  </body>
</html>
